{% extends 'base.html.twig' %}

{% block title %}Entretien{% endblock title %}

{% block body %}
<br/>
<br/>

    <!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="{{ path('home') }}">Home</a></li>
			<li class="active">/Recruteur</li>&nbsp;&nbsp;
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Entretien : 6 idées pour améliorer l’expérience candidat</h1>
                {#    <p>Mr Abidi | 11/06/2020</p> #}
				</header>
				
				<p>
                <strong>L’étude Hays sur le parcours idéal de recrutement révèle que plus de la moitié des candidats sont insatisfaits des processus. Réduire leur durée est un des moyens améliorer l’expérience candidat. Conseils pour l’entretien.</strong><br/>
                Nombre d’employeurs ont encore du mal à comprendre les attentes des candidats actuels, et les changements liés à la recherche de qualité de vie au travail (QVT) qui se sont opérés depuis environ quatre ans. Aujourd’hui, sur d’autres marchés que l’IT, des entreprises découvrent les aléas du recrutement, cela doit les pousser à changer leurs pratiques.
                À propos des entretiens par exemple, en dix ans leur nombre est passé de 3,1 à 4,3 en moyenne, soit un entretien de plus qu’avant la crise de 2008. Celle-ci est à l’origine de la sécurisation poussée des recrutements, qui peut aller jusqu’à la crispation. Cette crispation n’a plus lieu d’être en 2019, elle est même contreproductive dans un marché favorable aux candidats, où plus personne n’a le temps d’attendre.
                
                Selon l’étude Hays sur le parcours idéal de recrutement d’avril 2019, 57% des candidats déclarent être insatisfaits des process. Au niveau de la phase de candidature, 68% d’entre eux souhaitent que le processus soit raccourci, et au niveau de la prise de décision, 82% souhaitent avoir un interlocuteur unique qui les tienne informés de l’avancée de leur candidature. Oualid Hathroubi, directeur chez Hays, propose six moyens d’améliorer leur expérience.
                </p>
				<br/>
                <h2>1. Développer la visioconférence pour le premier entretien</h2>
                <p>
                Proposer un premier entretien en visioconférence évite un déplacement au candidat. Ainsi, il économise son temps et son énergie. En considérant que ceux-ci sont précieux, l’entreprise lui envoie un message positif.
                </p><br/>
                <h2>2. Gagner une semaine en optimisant les entretiens</h2>
                <p>
                Au lieu de prévoir autant d’entretiens qu’il y a de personnes à rencontrer dans le cadre du recrutement, en prévoir un avec plusieurs interlocuteurs. Par exemple, avec un candidat à un poste en comptabilité, faites en sorte qu’il rencontre le chef comptable, le DAF et le RRH en même temps. « Ainsi, on gagne une semaine », observe Oualid Hathroubi. Il faut évidemment surmonter des difficultés d’agenda mais quand il y a un manque de candidats, comme c’est le cas dans le domaine comptable, cela diminue le nombre de rencontres pour les opérationnels et les RH. « Moins de candidats cela fait moins d’entretiens, entretiens à optimiser d’autant plus », pointe-t-il.
                </p><br/>
                <h2>3. Proposer la visite des locaux dès le premier entretien</h2>
                <p>
                La visite des locaux permet au candidat de se projeter, ou non, dans un environnement donné. Les images du lieu de travail valent mieux qu’un long discours. Au-delà de la décoration et de l’agencement des bureaux, « voir l’expression des gens qui y travaillent est intéressant pour sonder l’ambiance », souligne notre interlocuteur. Proposer cette visite au début du process plutôt qu’à la fin, à toutes les personnes rencontrées, fait là encore gagner du temps à tout le monde.
                </p><br/>
                <h2>4. Faire un feedback au candidat le lendemain de l’entretien</h2>
                <p>
                « Tenir au courant le candidat le fidélise car il sait que les choses avancent », constate Oualid Hathroubi. Ainsi, l’appeler dès le lendemain de l’entretien pour lui faire un feedback, sans attendre d’avoir débriefé avec son équipe, est non seulement un moyen de réduire le sentiment d’attente du candidat, mais encore, une façon pour le recruteur de se positionner personnellement vis-à-vis de lui.
                « En tant qu’opérationnel ou en tant que RH, il est important de prendre position, sans se réfugier derrière l’avis collectif qui, de toute façon, sera donné ultérieurement », estime-t-il.
                </p><br/>
                <h2>5. En tant qu’opérationnel, faire pression sur le décideur si le processus traîne</h2>
                <p>
                Nous sommes toujours au service comptabilité, où le recrutement d’un comptable traîne… En tant que chef comptable — c’est un exemple —, vous devez faire pression sur le décideur — en l’occurrence, le DAF — en lui faisant comprendre la difficultés de recruter ce type de profil actuellement. « Il y a encore dans certains métiers l’idée qu’on finira bien par trouver le bon candidat, qui fait que l’on ne s’alarme pas. Or, on doit avoir conscience aujourd’hui qu’il faut être à l’écoute des candidats, et se mettre à leur place pour comprendre leur attente insupportable », insiste notre interlocuteur.
                </p><br/>
                <h2>6. Rendre plus confortable la place de candidat</h2>
                <p>Le facteur temps joue beaucoup dans la qualité de l’expérience candidat, le plaisir aussi. Se faire plaisir, ou en éprouver, n’est certes pas la première idée qui vient à l’esprit quand on passe un entretien d’embauche. Pourtant, inviter cette notion dans le processus, en rendant l’entretien agréable, n’est pas superflu, car rendre l’entretien agréable fait passer le temps plus vite. Garder en tête l’idée du plaisir de recruter comme d’être recruté est important. « Des deux côtés de la table on se juge, il faut comprendre ce principe quand on recrute », conclut Oualid Hathroubi.</p>
                
			</article>
			
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<img src="{{ asset('images/conseil-recruteur/idée.jpg') }}" alt="">
					<address>
						6 idée pour améliorer l'expérience candidat ?
					</address>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
		
	</div>	<!-- /container --><br/><br/>

{% endblock %}


