{% extends 'base.html.twig' %}

{% block title %}Raison pour recruter{% endblock title %}

{% block body %}
<br/>
<br/>

    <!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="{{ path('home') }}">Home</a></li>
			<li class="active">/Recruteur</li>&nbsp;&nbsp;
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">5 bonnes raisons de recruter des collaborateurs en situation de handicap</h1>
                {#    <p>Mr Abidi | 11/06/2020</p> #}
				</header>
				
				<p>
                <strong>Le handicap touche 12 millions de personnes en France. Troubles physiques, sensoriels, mentaux, cognitifs ou encore psychiques… Saviez-vous que 80 % des handicaps étaient invisibles ? Dans le milieu professionnel, le handicap est encore trop souvent associé des contraintes, des frais supplémentaires à engager et à une performance moindre que tout autre collaborateur. Il est temps de déconstruire les idées reçues !</strong><br/>
                Nombre d’employeurs ont encore du mal à comprendre les attentes des candidats actuels, et les changements liés à la recherche de qualité de vie au travail (QVT) qui se sont opérés depuis environ quatre ans. Aujourd’hui, sur d’autres marchés que l’IT, des entreprises découvrent les aléas du recrutement, cela doit les pousser à changer leurs pratiques.
                À propos des entretiens par exemple, en dix ans leur nombre est passé de 3,1 à 4,3 en moyenne, soit un entretien de plus qu’avant la crise de 2008. Celle-ci est à l’origine de la sécurisation poussée des recrutements, qui peut aller jusqu’à la crispation. Cette crispation n’a plus lieu d’être en 2019, elle est même contreproductive dans un marché favorable aux candidats, où plus personne n’a le temps d’attendre.
                </p>
				<br/>
                <h2>Raison n°1 : Recruter un collaborateur en situation de handicap c’est un collaborateur comme un autre</h2>
                <p>
                En recrutant un collaborateur possédant une <strong>Reconnaissance En Qualité de Travailleur Handicapé (RQTH), vous recrutez avant tout des compétences.</strong>
                <strong>Dans bien des cas, aucun n’aménagement de poste ne sera nécessaire.</strong> Dans le cas contraire, le collaborateur devra disposer d’un accompagnement personnalisé lors de sa prise de fonction, et ce afin de bien s’assurer de l’adaptation de son poste à certaines tâches qui peuvent le mettre dans une situation de handicap. D’ailleurs, ces aménagements peuvent souvent profiter à tous.
                Recruter des personnes en situation de handicap c’est accéder à un nouveau vivier de compétences, tout en diversifiant ses recrutements pour le bien de toute l’entreprise.
                </p><br/>
                <h2>Raison n°2 : Chaque entreprise se doit de répondre à une obligation légale</h2>
                <p>
                Toutes les entreprises de plus de 20 salariés sont soumises à une obligation légale qui fixe à 6% le taux d’emploi de personnes handicapées. Vous avez donc le devoir de mettre en place à la fois des actions de recrutement, de formation, de sensibilisation mais aussi de maintien en emploi.

                Par ailleurs, de nombreux collaborateurs dans l’entreprise ne souhaitent pas encore déclarer leur handicap. Il convient donc de communiquer sur votre politique de recrutement et l’engagement de votre entreprise sur ce sujet, afin d’accompagner sereinement ces collaborateurs vers une reconnaissance.
                </p><br/>
                <h2>Raison n°3 :  Affirmer la responsabilité sociale de votre entreprise et valoriser votre marque employeur en interne et en externe</h2>
                <p>
                S’ouvrir au handicap, c’est aussi une manière de donner du sens au discours sur la responsabilité sociale de votre entreprise. Affirmer la prise en compte des différences, au-delà de la dimension réglementaire, démontre un engagement fort pour une société plus inclusive ! Cela participe à valoriser l’image de votre entreprise à la fois auprès de vos collaborateurs, des candidats en recherche d’emploi, mais aussi de vos clients qui partagent avec vous la même préoccupation.
                </p><br/>
                <h2>Raison n°4 :  Assurer de meilleures conditions de travail à l’ensemble de vos collaborateurs – Ce qui bénéficie à un bénéficie à tous !</h2>
                <p>
                Recruter des personnes en situation de handicap, c’est œuvrer pour faire évoluer les mentalités et lutter contre les idées reçues. C’est aussi l’occasion, d’engager une réflexion plus large sur votre entreprise : organisation générale, approche managériale, conditions de travail, ergonomie et optimisation des postes.

                Les démarches que vous entreprendrez pour un collaborateur en situation de handicap pourra, à terme, s’avérer positives pour l’ensemble de vos salariés en termes de qualité de vie au travail et de productivité.
                </p><br/>
                <h2>Raison n°5 : Vous recrutez des salariés compétents, motivés et fidèles !</h2>
                <p>
                Les employeurs sont unanimes, les collaborateurs en situation de handicap sont considérés comme plus consciencieux, volontaires, fidèles à l’entreprise et fortement adaptable ! Un atout essentiel pour vos équipes.
                </p><br/>
                
			</article>
			
			<!-- /Article -->
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<img src="{{ asset('images/conseil-recruteur/recrutement.png') }}" alt="">
					<address>
						5 bonnes raisons de recruter des collaborateurs en situation de handicap?
					</address>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
		
	</div>	<!-- /container --><br/><br/>

{% endblock %}


