{% extends 'base.html.twig' %}

{% block body %}
<br/>
<br/>
<br/>
<br/>
<br/>

  
  <div class="container" align = "center">
    <h1>Changer son mot de passe</h1>
    <hr>
    <div class="row" align = "center">
        <div col="col s12 m6 offset-m3">
         {{ form(form) }}
        </div> 
    </div>
  </div>

{% endblock %}