{% extends 'base.html.twig' %}

{% block title %} Nouveau Mot de passe ! {% endblock %}

{% block body %}
<br/>
<br/>
<br/>
<br/>
<br/>
<div class = "container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Entrez votre nouveau mot de passe</h1>
    <hr>
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <form method="post">
            <div class="row">
                <div  class="col-md-8" class="form-group">
                    <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" minlength="8" maxlength="15" required>
                </div>
                <div class="col-md-4">
                    <input type="hidden" name="token" value="{{ token }}">
                </div>
            </div>
            <br/>
            <div>
                <button type="submit" id="valider" class="btn btn-success">Valider le mot de passe</button>
            </div>
        </form>
    </div>

</div> <br/><br/>

{% endblock %}