{% extends 'base.html.twig' %}

{% block title %} Mot de passe oublié! {% endblock %}

{% block body %}
<br/>
<br/>
<br/>
<br/>
<br/>
<div class = "container">
        <b>Si vous etes une entreprise veuillez cliquer sur ce lien <a href="{{ path('recruteur_app_password') }}">Mot de passe oublier?</a></b>
        <h1 align = "center">Mot de passe oublié</h1>
        <hr />
        {{ form(formEmail) }}
</div>        <br/><br/>


{% endblock %}