{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
<div class="container col-lg-4">
<br/>
<br/>
<br/>


    <h1>Page non trouvée</h1>
    <p>La page que vous cherchez n'a pas été trouvée</p>
   {# <p>Le code de l'erreur : {{status_code}}</p>
    <p>Le Message de l'erreur : {{status_text}}</p>
    <p>Personnalisé : {{ exception.message }} </p> #}
</div> <br/><br/>

{% endblock %}